# Pandas

In [ ]:
with open("./data/bank-additional-names.txt", encoding="UTF-8") as f:
    print(f.read())

Q.1.1  
★ pandasで　"./bank-additional.csv" をデータフレームとして開き、dfという名前の変数に格納せよ。

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("./data/bank-additional.csv", sep=";")

Q.1.2  
★ pandasで　"./bank-additional.csv" をデータフレームとして返すget_dfという関数を作成せよ。  
※以降、問題を解く時にdfが変になってしまったら、get_df()で呼び出してdfを初期化すれば良い。

In [ ]:
def get_df():
    return pd.read_csv("./data/bank-additional.csv", sep=";")
df = get_df()

Q.1.3  
★dfの内容をhead,tail,info,describeで確認せよ。

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.describe()

Q.2.1  
★dfの行数と列数はそれぞれいくつか。

In [ ]:
row_num, col_num = df.shape
print("行数:" + str(row_num))
print("列数:" + str(col_num))

Q.3.1  
★ dfの1行目で列名がjobの値を切り出せ。

In [ ]:
df.loc[0, "job"]

Q.3.2  
★ dfの1,3行目で列名がjob,educationの値を切り出せ。

In [ ]:
df.loc[[0,2], ["job","education"]]

Q.3.3  
★ dfの1〜5行目で列名がcampaign,pdaysの値を切り出せ。

In [ ]:
df.loc[:4, ["campaign","pdays"]]

Q.3.4  
★dfの1行1列を切り出せ。

In [ ]:
df.iloc[0, 0]

Q.3.5  
★dfの2〜4行と1〜3列を切り出せ。

In [ ]:
df.iloc[1:4, :3]

Q.3.6  
★ dfの最終行と最終列の値（データフレームの一番右下）を切り出せ。

In [ ]:
df.iloc[df.shape[0] - 1, df.shape[1] - 1]
# df.iloc[-1, -1]

Q.3.7.  
★ dfの列名がjobとageの列を切り出せ。

In [ ]:
df[["job", "age"]]
# df.loc[:, ["job", "age"]]

Q.3.8  
★ dfの列名がjobの列をシリーズとして切り出せ。

In [ ]:
df["job"]

Q.3.9  
★ dfの列名がjobの列をデータフレームとして切り出せ。

In [ ]:
df[["job"]]

Q.3.10  
★dfのageが20以下の行を切り出せ。

In [ ]:
df[df["age"] <= 20]

Q.3.11  
★★ dfのageが20以下でloanがyesの行を切り出せ。

In [ ]:
# ヒント
d1 = pd.DataFrame([1, 2, 3])
d2 = pd.DataFrame([5, 6, 7])
(d1 >= 2) & (d2 <= 6)

In [ ]:
df[(df["age"] <= 20) & (df["loan"] == "yes")]

Q.4.1  
★ dfに「over_25」という列を追加せよ。追加する列のセルの値は全て「yes」とせよ。

In [ ]:
df["over_25"] = "yes"
df.head()

Q.4.2  
★★ dfに「over_25」という列を追加せよ。追加する列のセルの値はageが25より大きい時に「yes」、ageが25以下の場合「no」とせよ。

In [ ]:
df["over_25"] = "yes"
df.loc[df["age"] <= 25, "over_25"] = "no"
# df["over_25"] = ["yes" if age > 25 else "no" for age in df["age"]]
# df["over_25"] = df["age"].apply(lambda age : "yes" if age > 25 else "no")
df.head()

Q.4.3  
★ dfからage列を削除したデータフレームを表示せよ。

In [ ]:
df.drop(columns = "age")
# df.drop("age", axis=1)

Q.4.4  
★★ dfの最終行の下に最終行と同じ内容の行を追加せよ。  
インデックス番号は最終行のインデックス番号より1つ大きくすること。

In [ ]:
df.loc[len(df), :] = df.loc[len(df) - 1, :]
df.tail()

Q.5.1  
★ dfの1行1列, 2行2列のセルを欠損値にせよ。

In [ ]:
# ヒント
import numpy as np
np.nan #　欠損値

In [ ]:
import numpy as np
df.iloc[0, 0] = np.nan
df.iloc[1, 1] = np.nan
df.head()

Q.5.2  
★ dfの1行1列, 2行2列のセルを欠損値にし、欠損が存在する列名を表示せよ。

In [ ]:
import numpy as np
df.iloc[0, 0] = np.nan
df.iloc[1, 1] = np.nan
df.isnull().any()
# print(df.columns[df.isnull().any()])

Q.5.3  
★ dfの1行1列, 2行2列のセルを欠損値にし、欠損が存在するセルを含む行を全て表示せよ。

In [ ]:
import numpy as np
df.iloc[0, 0] = np.nan
df.iloc[1, 1] = np.nan
df[df.isnull().any(axis = 1)]

Q.5.4  
★ dfの1行1列, 2行2列のセルを欠損値にし、欠損を含む行を削除したデータフレームを表示せよ。

In [ ]:
import numpy as np
df.iloc[0, 0] = np.nan
df.iloc[1, 1] = np.nan
df.dropna()

Q.5.5  
★ dfの1行1列, 2行2列のセルを欠損値にし、欠損を含む列を削除したデータフレームを表示せよ。

In [ ]:
import numpy as np
df.iloc[0, 0] = np.nan
df.iloc[1, 1] = np.nan
df.dropna(axis = 1)

Q.5.6  
★ dfの1行1列, 2行2列のセルを欠損値にし、欠損を含むセルを「unknown」という値に変更したデータフレームを表示せよ。

In [ ]:
import numpy as np
df.iloc[0, 0] = np.nan
df.iloc[1, 1] = np.nan
df.fillna("unknown")

Q.6.1  
★ dfのjob列の重複行を削除したデータフレームを表示せよ。

In [ ]:
df.drop_duplicates("job")

Q.7.1  
★ dfのage列の最大値、最小値、平均値を求めよ。

In [ ]:
print(df["age"].max())
print(df["age"].min())
print(df["age"].mean())

Q.7.2  
★★ 列ごとにdfの「unknown」というセルの個数を求めよ。

In [ ]:
(df == "unknown").sum()

Q.7.3  
★★ dfの「unknown」というセルの総個数を求めよ。

In [ ]:
(df == "unknown").sum().sum()
# np.array(df == "unknown").sum()

Q.7.4  
★★ dfのageが20以上、30未満のセル個数を求めよ。

In [ ]:
# ヒント
import numpy as np
np.array([True, True, False]) & np.array([False, True, True])

In [ ]:
((df["age"] >= 20) & (df["age"] < 30)).sum()

Q.8.1  
★ dfのjob列の列名をworkに変更したデータフレームを表示せよ。

In [ ]:
df.rename(columns={"job":"work"})

Q.8.2  
★★ dfのindexを「No.{数字}」に変更せよ。  
例  
0 → No.0  
1 → No.1  
2 → No.2

In [ ]:
# ヒント
["No." + str(i) for i in range(5)]

In [ ]:
df.index = ["No." + str(i) for i in range(len(df))]
df.head()

Q.8.3  
★★ dfのindexを「No.{数字}」に変更した後、indexをリセットせよ。

In [ ]:
df.index = ["No." + str(i) for i in range(len(df))]
df = df.reset_index(drop=True)
df.head()

Q.9.1    
★★ groupbyを用いて、jobごとの最大ageを求めよ。  
ヒント：最初にjob列とage列でデータフレームを切り出した後に処理をすると見やすくなる。

In [ ]:
df[["job", "age"]].groupby("job").max()

Q.9.2    
★★ groupbyを用いて、jobごとmaritalごとの平均ageを求めよ。  
ヒント: 平均はmean()で求められる。

In [ ]:
df[["job", "age", "marital"]].groupby(["job","marital"]).mean()

Q.10.1    
★★ ピボットせよ。値はage、インデックスはjobとmarital、集計関数は平均を用いよ。  
ヒント：pivot_tableの引数にaggfunc=np.meanを指定する。

In [ ]:
import numpy as mean
df.pivot_table(values="age", index=["job", "marital"], aggfunc=np.mean)

Q.11.1    
★ age列をfloat型に変更せよ。

In [ ]:
df["age"] = df["age"].astype(float)
df.head()

Q.11.2    
★ age列で降順にソートしたデータフレームを表示せよ。

In [ ]:
df.sort_values("age", ascending=False)

Q.11.3    
★以下のデータフレームを作成せよ。（１行目はヘッダーとして列名を表す。）  
A, B  
1, 2  
3, 4  
5, 6

In [ ]:
new_df = pd.DataFrame(data=[[1,2],[3,4],[5,6]], columns=["A","B"])
new_df

Q.12.1    
★★以下のデータフレームを作成し、day_of_week列でdfとmergeせよ。（１行目はヘッダーとして列名を表す。）  
day_of_week, week_index  
sun,1  
mon,2   
tue,3  
wed,4  
thu,5  
fri,6  
sat,7

In [ ]:
new_df = pd.DataFrame(data=[["sun",1],
                                                        ["mon",2],
                                                        ["tue",3],
                                                        ["wed",4],
                                                        ["thu",5],
                                                        ["fri",6],
                                                        ["sat",7]], columns=["day_of_week","week_index"])
df.merge(new_df, on="day_of_week")

Q.12.2    
★★dfの1-3行を切り出してnew_dfとし、dfに行を追加する形でappendせよ。  
その際に、インデックスは初期化せよ。

In [ ]:
new_df = df.iloc[:3, :]
df.append(new_df, ignore_index=True)

Q.13.1    
★★ dfのday_of_weekをone-hotエンコーディングしたデータフレームを表示せよ。

In [ ]:
pd.get_dummies(df["day_of_week"])